.score-card {
  border-radius: 12px;
  border: 1px solid #ebebeb;
  align-self: stretch;
  min-width: 372px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 16px;
  background-color: #fff;
  flex: 1;
  max-width: max-content;
}

.score-card-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  justify-content: start;
}

.score-card-icon {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  align-self: stretch;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 6px;
  gap: 10px;
  width: 36px;
  height: 36px;
  background-color: #f7f8fa;
}

.card-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}

.info-circle-placeholder {
  align-self: stretch;
  display: flex;
  min-height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
}

.score-card-title {
  color: #212121;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  margin: 0;
}

.score-card-stats {
  display: flex;
  margin-top: 12px;
  align-items: start;
  gap: 16px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 2;
  justify-content: start;
  flex-wrap: wrap;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: start;
}

.stat-label {
  color: #979797;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}

.stat-count {
  border-radius: 9999px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
}

@media (max-width: 991px) {
  .score-card-stats {
    white-space: initial;
  }

  .stat-item {
    white-space: initial;
  }

  .stat-count {
    white-space: initial;
  }
}
